::ng-deep :root {
    --black: #000000;
    --ligthBlue:#11C5B0;
    --white: #FFFFFF;
    --gray: #DEDEDE;
    --backgroundGray: #E5E5E5;
    --popUpTextColor: #979797;
    --placeholderTextColor: #C8C8C8;
    --mainTitleColor: #273040;
}

::ng-deep .mdc-line-ripple {
    display: none;
}

::ng-deep .mat-form-field-ripple {
    display: none;
}

::ng-deep .mdc-text-field .mdc-text-field__input {
    caret-color: var(--black) !important;
}

.header {
    border-bottom: 2px solid var(--gray);
    margin-bottom: 55px;
}

::ng-deep .modal-success .mdc-dialog__surface {
    background: var(--white) !important;
    padding: 32px !important;
}

::ng-deep .modal-success mat-dialog-content {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    padding: 0 !important;
    gap: 72px !important;
    margin-bottom: 80px !important;
    color: var(--popUpTextColor) !important;
}

::ng-deep .modal-success mat-dialog-content h1 {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    font-size: 18px !important;
}

::ng-deep .modal-success mat-dialog-actions {
    display: flex !important;
    justify-content: center !important;
}

::ng-deep .modal-success mat-dialog-actions button {
    background-color: var(--ligthBlue) !important;
    color: var(--white) !important;
    padding: 21px 29px !important;
    border-radius: 80px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    margin-top: 5%;
}

.send-button {
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: small;
    width: 20vh;
    height: 6vh;
    background: var(--ligthBlue);
    font-style: normal;
    color:var(--white);
    border-radius: 80px;
}

::ng-deep .mat-mdc-card {
    box-shadow: none !important;
    background: var(--backgroundGray) !important;
}

.container-button {
    justify-content: center;
}

.comment-input {
    color: var(--black);
    display: flex;
    justify-content: center;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    color: var(--black);
    background-color: var(--backgroundGray);
    width: 100vh;
}

.input-text:focus-visible {
    outline: none !important;
}

.input-text {
    resize: none;
    padding: 16px 22px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25) !important;
    border-radius: 9px;
    height: 20vh !important;
    color: var(--black) !important;
}

.input-text::placeholder {
    display: flex;
    color: var(--placeholderTextColor) !important;
}

.comment-title {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 77px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: var(--mainTitleColor);   
    display: flex;
    justify-content: center;
}