<mat-card>
    <mat-card-header>
        <mat-card-title>Leave a feedback</mat-card-title>
    </mat-card-header>
    <app-five-stars [text] = "firstRateText"></app-five-stars>
    <app-five-stars [text] = "secondRateText"></app-five-stars>
    <app-five-stars [text] = "thirdRateText"></app-five-stars>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Please leave a comment about your experience below:</mat-card-title>
    </mat-card-header>

    <div class = "comment">
        <mat-form-field>
            <input  matInput  placeholder="Type your comments here..." [(ngModel)]="comment"  type="text" name="commentBox"  required>
        </mat-form-field>
        <mat-card-actions>
            <button  mat-flat-button color="#11C4B0" (click)="send()"  color="primary">SEED FEEDBACK</button>
        </mat-card-actions>
    </div>
</mat-card>