<mat-card>
    <mat-card-header class="header">
        <img src="./assets/icons/SolaVieve-logo.svg">
    </mat-card-header>
    <div class="panel">
        <mat-card-title class="title">Leave a feedback!</mat-card-title>
        <div>
            <app-five-stars [text] = "experienceRateText" (changeRate)="setRateOf($event,feedbackSubject.Experience)"></app-five-stars>
            <app-five-stars [text] = "paymentRateText" (changeRate)="setRateOf($event,feedbackSubject.Payments)"></app-five-stars>
            <app-five-stars [text] = "customerServiceRateText" (changeRate)="setRateOf($event,feedbackSubject.CustomerService)"></app-five-stars>
        </div>
    </div>
</mat-card>

<mat-card>
    <mat-card-header class="comment-title">
        <mat-card-title>Please leave a comment about your experience below:</mat-card-title>
    </mat-card-header>
    <div class="comment-input">
        <mat-form-field>
        <textarea matInput class="input-text" placeholder="Type your comments here..." [(ngModel)]="comment" name="commentBox"></textarea>
        </mat-form-field>
    </div>
    <mat-card-actions class="container-button">
        <button class="send-button" (click)="send()">SEED FEEDBACK</button>
    </mat-card-actions>

</mat-card>