::ng-deep :root {
    --ligthBlue:#11C5B0;
    --white: #FFFFFF;
    --gray: #D3D3D3;
}

.rating-component {
    text-align: center;
    position: relative;
    margin-bottom: 55px;
}

.rating-component::after {
    width: 100%;
    left: 0;
    content: "";
    height: 1px;
    background-color: var(--gray);
    position: absolute;
    bottom: -25px;
}

.rating-card {
    height: 15vh;
}

.star {
    color: var(--ligthBlue);
    font-size: 500%;
    justify-content: center !important;
    display: flex !important;
}

.stars-selected {
    color: var(--ligthBlue);
}

.stars-not-selected {
    color:var(--gray);
}

.rating-title {
    margin-bottom: 30px;
}